<form action="/restaurants" method="POST">
  <input type="text" name="name" placeholder="name" style="display:block">
  <input type="text" name="category" placeholder="category" style="display:block">
  <input type="text" name="rating" placeholder="rating" style="display:block">
  <input type="text" name="location" placeholder="location" style="display:block">
  <input type="text" name="phone" placeholder="phone" style="display:block">
  <input type="text" name="description" placeholder="description" style="display:block">
  <input type="text" name="rating" placeholder="rating" style="display:block">
  <input type="text" name="image" placeholder="image" style="display:block">
  <button type="submit">Create</button>
</form>