<form action="/restaurants" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="category" placeholder="category">
  <input type="text" name="rating" placeholder="rating">
  <button type="submit">Create</button>
</form>